body {
    background-color: blanchedalmond;
    font-family: Arial, serif;
}

h1 {
    color: brown;
}

h2 {
    color: chocolate;
}

h3 {
    color: chocolate;
}

hr {
    color: crimson;
    border-color: crimson;
    background-color: crimson;
}

section {
    flex: 1;
    padding: 20px;
}

.sectionLayout {
    display: flex;
}

b {
    color: indianred;
}

p.dropCap:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    color: chocolate;
    font-weight: bold;
    margin-right: 9px;
}